@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #272829;
  color: #fff6e0;
}

header {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  border-radius: 25px;
  align-items: center;
  padding: 15px;
  background-color: #272829;
  flex-wrap: wrap;
}

header a {
  /* margin-left: 15px; */
  padding-left: 35px;
  color: #fff6e0;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

header nav {
  display: flex;
  gap: 10px;
}

header nav button {
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: #fff6e0;
  font-weight: 600;
  border-radius: 10px;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 150px;
}

header nav button:hover {
  background-color: #0056b3;
}

.container {
  display: flex;
  height: calc(100vh - 80px);
}

.content {
  flex: 0.6;
  margin: 15px;
  padding: 50px;
  background-color: #272829;
  border-radius: 15px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff6e0;
}

.content h1 {
  font-size: 42px;
  margin-bottom: 15px;
  color: #fff6e0;
}

.content p {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.try-button {
  padding: 6px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff6e0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: fit-content;
  align-self: flex-start;
}

.try-button:hover {
  background-color: #0056b3;
}

.image-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
}

.image-section img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  header a {
    margin-bottom: 0;
  }

  header nav {
    width: auto;
    flex-direction: row;
    justify-content: flex-end;
  }

  .image-section {
    display: none;
  }

  .content {
    width: 100%;
    align-items: center;
    text-align: center;
    height: 100vh;
  }

  .content h1 {
    font-size: 36px;
  }

  .try-button {
    align-self: center; /* Center button on mobile */
  }
}
